node_modules/
.next/
out/
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
.DS_Store
.vercel
.turbo
.idea/
.vscode/
/data/db.json
/data/*.bad-*
/data/*.tmp
